body{margin:0;}
.body{display:flex;}
/*background image by Brooke Lark found on unsplash.com*/

.sidebar{background:url(background.jpeg);
         height:100vh;width:40vw;
         display:flex;
         justify-content: center;
        }
.logocontainer{background-color: rgba(1, 5, 1, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
top:25vh;
height:20vh;}
#logoimg{width:20vw;height:100%;}
#header{color:rgb(255, 255, 255);
    font-size:1.5rem;
    font-weight:bolder;
    
        }
.note{position:absolute;
      bottom:0;
    color:rgb(255, 255, 255);
    font-size:1rem;
    font-weight:bold;}
.note mark{background:rgb(247, 243, 0);font-weight:bolder;}
